In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_excel('../Data/Aqar_Riyadh_Raw.xlsx')
df

,Property_ID,Property Type,Bedrooms,Bathrooms,Area,Price,Description,Location,District,City,Agency_Name
0,A877409248,دور,6,5.0,214 م2,"730,000","دور للبيع في بدر, جنوب الرياض",بدر، جنوب الرياض، الرياض,حي بدر,الرياض,NaN
1,W448904463,فیلا,5,6.0,440 م2,"4,800,000",فيلا للبيع في الملك فهد، شمال الرياض,الملك فهد، شمال الرياض، الرياض,حي الملك فهد,الرياض,NaN
2,M187516680,فیلا,11,6.0,445 م2,"5,000,000",فيلا للبيع في الوادي، شمال الرياض,الوادي، شمال الرياض، الرياض,حي الوادي,الرياض,NaN
3,H808583263,دور,6,5.0,185 م2,"1,200,000",دور للبيع في المونسية، شرق الرياض,المونسية، شرق الرياض، الرياض,حي المونسية,الرياض,NaN
4,T501925005,فیلا,6,6.0,300 م2,"980,000",فيلا للبيع في بدر، جنوب الرياض,بدر، جنوب الرياض، الرياض,حي بدر,الرياض,مؤسسة غزالة للخدمات العقارية
...,...,...,...,...,...,...,...,...,...,...,...
1195,X468237196,شقة,3,4.0,124 م2,"580,000",شقة للبيع في السويدي، غرب الرياض,السويدي، غرب الرياض، الرياض,حي السويدي,الرياض,شركة نجمة التميز للعقارات
1196,I067502048,فیلا,4,6.0,496 م2,"4,400,000","فيلا للبيع في المونسية, شرق الرياض",المونسية، شرق الرياض، الرياض,حي المونسية,الرياض,مكتب عبدالله بن فيحان بن محمد العتيبي للعقارات
1197,R750563705,شقة,3,3.0,131 م2,"430,000",شقق فاخرة للبيع في بدر، جنوب الرياض,بدر، جنوب الرياض، الرياض,حي بدر,الرياض,شركة نجمة التميز للعقارات
1198,G315034386,دور,4,3.0,214 م2,"740,000",دور للبيع في بدر، جنوب الرياض,بدر، جنوب الرياض، الرياض,حي بدر,الرياض,شركة نجمة التميز للعقارات
1199,D355129692,دور,3,2.0,621 م2,"1,500,000",دور للبيع في المونسية، شرق الرياض,المونسية، شرق الرياض، الرياض,حي المونسية,الرياض,مؤسسة وسام المساكن العقارية

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Property_ID    1200 non-null   object
 1   Property Type  1200 non-null   object
 2   Bedrooms       1132 non-null   object
 3   Bathrooms      1129 non-null   float64
 4   Area           1200 non-null   object
 5   Price          1200 non-null   object
 6   Description    1200 non-null   object
 7   Location       1200 non-null   object
 8   District       1200 non-null   object
 9   City           1192 non-null   object
 10  Agency_Name    821 non-null    object
dtypes: float64(1), object(10)
memory usage: 103.3+ KB

In [4]:
df.describe().T

            count      mean       std  min  25%  50%  75%   max
Bathrooms  1129.0  3.955713  1.533834  1.0  3.0  4.0  5.0  14.0

In [5]:
df.describe(include='object').T

              count unique                            top  freq
Property_ID    1200   1190                     P184680884     3
Property Type  1200      8                            شقة   395
Bedrooms       1132     15                              3   472
Area           1200    317                         500 م2    94
Price          1200    288                        860,000    74
Description    1200    664  شقة للبيع في بدر، جنوب الرياض    32
Location       1200    108       بدر، جنوب الرياض، الرياض   130
District       1200    108                         حي بدر   130
City           1192      1                         الرياض  1192
Agency_Name     821    151      شركة نجمة التميز للعقارات   198

**considering that City column only has one value whic is (رياض) we will deop it**
**Description column's information is already availavle in other columns so we will drop it**

In [6]:
df.drop(["City","Description"], axis=1, inplace=True)

In [7]:
df["Bedrooms"].fillna(0, inplace=True)
df["Bathrooms"].fillna(0, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Property_ID    1200 non-null   object
 1   Property Type  1200 non-null   object
 2   Bedrooms       1200 non-null   object
 3   Bathrooms      1200 non-null   float64
 4   Area           1200 non-null   object
 5   Price          1200 non-null   object
 6   Location       1200 non-null   object
 7   District       1200 non-null   object
 8   Agency_Name    821 non-null    object
dtypes: float64(1), object(8)
memory usage: 84.5+ KB

**to preprocess the Area and Price columns we need to remove the commas and the meter squared and change their types to integer**

In [9]:
df["Area"] = df["Area"].apply(lambda x: x.split()[0])
df['Area'] = df['Area'].str.replace(",", "").str.strip()

df['Price'] = df['Price'].str.replace(",", "").str.strip()

In [10]:
df.head()

,Property_ID,Property Type,Bedrooms,Bathrooms,Area,Price,Location,District,Agency_Name
0,A877409248,دور,6,5.0,214,730000,بدر، جنوب الرياض، الرياض,حي بدر,NaN
1,W448904463,فیلا,5,6.0,440,4800000,الملك فهد، شمال الرياض، الرياض,حي الملك فهد,NaN
2,M187516680,فیلا,11,6.0,445,5000000,الوادي، شمال الرياض، الرياض,حي الوادي,NaN
3,H808583263,دور,6,5.0,185,1200000,المونسية، شرق الرياض، الرياض,حي المونسية,NaN
4,T501925005,فیلا,6,6.0,300,980000,بدر، جنوب الرياض، الرياض,حي بدر,مؤسسة غزالة للخدمات العقارية

In [11]:
df.iloc[112]

Property_ID                       E562543978
Property Type                            شقة
Bedrooms                                   3
Bathrooms                                3.0
Area                                    3150
Price                                1235000
Location         العارض، شمال الرياض، الرياض
District                           حي العارض
Agency_Name               شركة رفاه العقارية
Name: 112, dtype: object

In [12]:
df["Bedrooms"] = df["Bedrooms"].astype(int)

ValueError: invalid literal for int() with base 10: 'استوديو'

In [13]:
df["Bedrooms"] = df["Bedrooms"].replace("استوديو", 1)

In [14]:
df["Bedrooms"] = df["Bedrooms"].astype(int)

In [15]:
df["Area"] = df["Area"].astype(int)
df["Price"] = df["Price"].astype(int)
df["Bathrooms"] = df["Bathrooms"].astype(int)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Property_ID    1200 non-null   object
 1   Property Type  1200 non-null   object
 2   Bedrooms       1200 non-null   int32
 3   Bathrooms      1200 non-null   int32
 4   Area           1200 non-null   int32
 5   Price          1200 non-null   int32
 6   Location       1200 non-null   object
 7   District       1200 non-null   object
 8   Agency_Name    821 non-null    object
dtypes: int32(4), object(5)
memory usage: 65.8+ KB

# Upload cleaned Data

In [17]:
df.to_excel('../Data/Aqar_Riyadh_Processed.xlsx', index=False)

**we will split the data to two dataframes one with Agency_Name and one without**

In [ ]:
df2 = df.copy() #new df without Agency_Name
df2.drop(["Agency_Name"], axis=1, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Property_ID    1200 non-null   object
 1   Property Type  1200 non-null   object
 2   Bedrooms       1200 non-null   object
 3   Bathrooms      1200 non-null   float64
 4   Area           1200 non-null   int32
 5   Price          1200 non-null   object
 6   Location       1200 non-null   object
 7   District       1200 non-null   object
 8   Agency_Name    821 non-null    object
dtypes: float64(1), int32(1), object(7)
memory usage: 79.8+ KB