In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [5]:
df = pd.read_excel('../Data/Aqar_Riyadh_Processed.xlsx')
df.head()

,Property_ID,Property Type,Bedrooms,Bathrooms,Area,Price,Location,District,Agency_Name
0,A877409248,دور,6,5,214,730000,بدر، جنوب الرياض، الرياض,حي بدر,NaN
1,W448904463,فیلا,5,6,440,4800000,الملك فهد، شمال الرياض، الرياض,حي الملك فهد,NaN
2,M187516680,فیلا,11,6,445,5000000,الوادي، شمال الرياض، الرياض,حي الوادي,NaN
3,H808583263,دور,6,5,185,1200000,المونسية، شرق الرياض، الرياض,حي المونسية,NaN
4,T501925005,فیلا,6,6,300,980000,بدر، جنوب الرياض، الرياض,حي بدر,مؤسسة غزالة للخدمات العقارية